USE [SavvyDev]
GO
/****** Object:  Table [dbo].[RegionX]    Script Date: 08/28/2014 17:50:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RegionX](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Point] [varchar](1) NULL,
 CONSTRAINT [PK_RegionX] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF