USE [SavvyDev]
GO
/****** Object:  Table [dbo].[RegionY]    Script Date: 08/28/2014 17:51:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RegionY](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Point] [varchar](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF